@charset "utf-8";

body {
    margin: 0px;
}

section {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

h1 {
    font-size: xx-large;
}

section {
    margin-bottom: 100px;
}

mark {
    background: linear-gradient(transparent 40%, rgb(251, 255, 0) 0%);
    font-weight: bold;
}

.mark1 {
    font-size: large;
}

.mark2 {
    font-size: x-large;
}

.explanationFunction {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* justify-content: center; */
    gap: 50pt;
}

.explanationFunction img {
    width: 50%;
    max-width: 250px;
    min-width: 200;
    margin: auto;
    /* text-align: center; */
}

.yellowBack {
    background-color: #FFFDC9;
}

.orangeBack {
    background-color: #F8DAAE;
}

.explanationBlock {
    flex-grow: 1;
    width: 300px;
    margin-bottom: 40pt;
    text-align: center;
}

.explanationBlock h2,
.explanationBlock p {
    text-align: left;
}

.gradationBackground {
    height: 200px;
    background: linear-gradient(120deg, #9d9f00, #FFA8A8);
    background: -moz-linear-gradient(120deg, #cbcf00, #FFA8A8);
    background: -webkit-linear-gradient(120deg, #d6da01, #db9393);

    display: flex;
    justify-content: center;
    align-items: center;
}

.titleText {
    font-stretch: extra-expanded;
    font-size: min(10vw, 60px);
    padding-top: 48px;
    color: yellow;
    font-weight: bold;
    mix-blend-mode: luminosity;
}

.test {
    background-color: #F8DAAE;
}
#header_appName {
    font-weight: bold;
}
#header_menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    /*ポジションを固定する*/
    top: 0px;
    /*一番上に設置*/
    left: 0px;
    z-index: 9999;
    /*どの要素よりも上にくるように*/

    backdrop-filter: blur(10px);
    background-color: rgba(254, 255, 218, 0.658);
    box-shadow: rgba(0, 0, 0, 0.3) 5px 4px 4px;
    border: 1px rgba(255,255,255,0.4) solid;
    border-bottom: 1px rgba(40,40,40,0.35) solid;
    /*メニューバー背景色*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    width: 100%;
    /*横幅を100%に*/
    padding: 0 0;
}
#header_menu_right a{
    padding: 3px;
}
#header_menu img {
    width: 30px;
}
#header_menu a {
    font-size: 100%;
    color: #000000;
    text-decoration: none;
}

#header_menu div {
    display: flex;
    gap: 10px;
    align-items: center;
    /*メニューを横並びにする*/
    padding: 10px;
}

#header_menu a:after {
    /*floatでデザインが崩れないように*/
    display: block;
    clear: both;
    content: "";
}